@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Road+Rage&family=Viaoda+Libre&display=swap");
html {
  background-color: #282c34;
}
body {
  /* overflow: hidden; */
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #171d1f;
}
::-webkit-scrollbar-thumb {
  background-color: crimson;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: darkred;
}
.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ci {
  height: 500px;
  width: 400px;
  margin-right: 10px;
  border-radius: 23px 0 23px 0;
}
video {
  width: 100%;
  z-index: -1;
  margin-top: -72px;
  filter: brightness(80%);
}
.navbar {
  background: transparent;
  color: white;
}
.navbar:hover {
  background-color: rgba(0, 0, 0, 0.422);
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 12%;
  margin-left: 250px;
  font-family: "Road Rage", cursive;
  font-size: 200px;
}
.fa-cart-shopping {
  font-size: 30px;
}
.heroshop {
  top: 60%;
  left: 40%;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: yellow;
}
.heroshop:hover {
  color: white;
}
.navbar-brand {
  font-family: "Road Rage", cursive;
  font-size: 20px;
}
.navbar-toggler {
  background-color: white;
}
.navbar-toggler-icon {
  /* color: yellow !important; */
  font-weight: bold;
}

/* --------------------------------------------------------------------------------- */
.heroshop {
  left: 40%;
  text-align: center;
  font-size: 80px;
  /* background: linear-gradient(to right, #ff0 60%, rgb(255, 0, 0) 40%); */
  background: linear-gradient(to right, #eb0707 20%, #ff0 40%, #ff0 60%, #f11010 80%);
  /* background: linear-gradient(180deg, rgba(111, 234, 127, 1) 0%, rgba(36, 210, 167, 1) 100%); */
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  animation: shine 2s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 480px) {
  video {
    display: none;
  }
  .text {
    font-size: 60px;
    margin-top: 0;
    margin-left: 25px;
    position: relative;
  }
  .ci {
    border-radius: 0 0 0 0;
  }
  .fa-cart-shopping {
    font-size: 30px;
  }
}
@media only screen and (min-device-width: 768px) {
  video {
    margin-top: -200px;
  }
}
